<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vbenadmin.backend.user.mapper.UserMapper">
    <select id="selecyUserIdsByRoles" resultType="java.lang.String">
        SELECT u.id
        FROM sys_user u
        JOIN sys_user_group ug ON ug.user_id = u.id
        JOIN sys_group_role gr ON ug.role_id = gr.role_id
        WHERE gr.role_id IN(
            SELECT r.id
            FROM sys_role r
            WHERE r.name IN
            <foreach collection="roles"
                item="role"
                open="(" close=")" separator=",">
                #{role}
            </foreach>
        )
    </select>

    <select id="selecyUserIdsByGroups" resultType="java.lang.String">
        SELECT u.id
        FROM sys_user u
        JOIN sys_user_group ug ON ug.user_id = u.id
        WHERE ug.group_id IN (
            SELECT g.id
            FROM sys_group g
            WHERE g.name IN 
            <foreach collection="groups"
                item="group"
                open="(" close=")" separator=",">
                #{group}
            </foreach>
        )
    </select>


    <select id="selectUserRolesByUserIds" resultType="com.vbenadmin.backend.user.models.dto.UserRoleDTO">
        SELECT 
        ug.user_id AS userId,
        ro.name AS roleName
        FROM sys_role ro
        JOIN sys_group_role gr ON ro.id = gr.role_id
        JOIN sys_user_group ug ON gr.group_id = ug.group_id
        WHERE ug.user_id IN 
        <foreach collection="userIds"
            item="userId"
            open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>

    <select id="selectUserGroupsByUserIds" resultType="com.vbenadmin.backend.user.models.dto.UserGroupDTO">
        SELECT 
        ug.user_id AS userId,
        g.name AS groupName
        FROM sys_user_group ug 
        JOIN sys_group g ON ug.group_id = g.id
        WHERE ug.user_id IN 
        <foreach collection="userIds"
            item="userId"
            open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>
</mapper>
