<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vbenadmin.backend.user.mapper.UserMapper">
    <select id="selectUserRolesByUserIds" resultType="com.vbenadmin.backend.user.models.dto.UserRoleDTO">
        SELECT 
        ur.user_id AS userId,
        r.name AS roleName
        FROM sys_user_role ur 
        JOIN sys_role r ON ur.role_id = r.id 
        WHERE ur.user_id IN 
        <foreach collection="userIds"
            item="userId"
            open="("
            separator=","
            close=")">
            #{userId}
        </foreach>
    </select>

    <select id="selectUserGroupsByUserIds" resultType="com.vbenadmin.backend.user.models.dto.UserGroupDTO">
        SELECT 
        ug.user_id AS userId,
        g.name AS groupName
        FROM sys_user_group ug 
        JOIN sys_group g ON ug.group_id = g.id
        WHERE ug.user_id IN 
        <foreach collection="userIds"
            item="userId"
            open="("
            separator=","
            close=")">
            #{userId}
        </foreach>
    </select>
</mapper>
