<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vbenadmin.backend.rbac.mapper.RoleResourceMapper">
    <insert id="insertByAuthCodes">
        INSERT INTO sys_role_resource (role_id, resource_id)
        SELECT 
            #{roleId},
            re.id
        FROM sys_resource re 
        WHERE re.auth_code IN
        <foreach collection="authCodes" 
            item="code"
            open="(" separator="," close=")">
            #{code}
        </foreach>
    </insert>

    <delete id="deleteByRoleIdAndResourceIds">
        DELETE FROM sys_role_resource
        WHERE role_id = #{roleId}
        AND resource_id IN 
        <foreach collection="resourceIds" 
            item="resourceId"
            open="(" separator="," close=")">
            #{resourceId}
        </foreach>
    </delete>

    <insert id="insertByRoleIdAndResourceIds">
        INSERT INTO sys_role_resource (role_id,resource_id) VALUES
        <foreach collection="resourceIds" item="resourceId" separator=",">
            (#{roleId}, #{resourceId})
        </foreach>
    </insert>


</mapper>
